
Datasource/Results/Excel/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.xlsx
Datasource/Results/Excel/scoop-A_AP-9.d_3_RandonShuffle.xlsx
Datasource/Results/Excel/~$scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.xlsx
Datasource/Results/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.csv
Datasource/Results/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.txt
Datasource/Results/scoop-A_AP-9.d_3_RandonShuffle.csv
Datasource/Results/scoop-A_AP-9.d_3_RandonShuffle.txt
Datasource/Results/scoop-A_AP-9.d_3_RandonShuffle.txt
Datasource/Results/scoop-A_AP-9.d_3_RandonShuffle.csv
Datasource/Results/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.txt
Datasource/Results/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.csv
Datasource/Results/Excel/scoop-A_AP-9.d_3_RandonShuffle.xlsx
Datasource/Results/Excel/scoop-A_AP-9.d_3_IteratedLocalSearchRandonUphill.xlsx
